.images{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    
}
.images:hover{
    
    cursor: pointer;
}

/* .card-group{
    height: 300px;
} */
.fa-star {
    color: goldenrod;
}
.far{
    color: goldenrod;
}
.fa-facebook-f{
    color: blue;
}
.fa-whatsapp{
    color: green;
}

.fa-twitter{
    color: rgb(40, 40, 195);
}