.dash{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    }

    @media only screen and (max-width:688px) {
        .dash{
            grid-template-columns: repeat(1,1fr);
        }
      
        
    }
    @media only screen and (min-width:689px) and (max-width:991px) {
        .dash{
            grid-template-columns: repeat(1,1fr);
        }
     
        
    }