.book{
    width: 900px;
    /* height: 100%; */
}
.add-service form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input, textarea{
    width: 40%;
    margin-bottom: 10px;
}
.submit{
    background-color: blue;
    color: white;
    font-weight: bold;
}
@media only screen and (max-width:688px) {
    .bookResponsive{
        grid-template-columns: repeat(1,1fr);
    }
  
    
}
@media only screen and (min-width:689px) and (max-width:991px) {
    .dabookResponsivesh{
        grid-template-columns: repeat(1,1fr);
    }
 
    
}